{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": true,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-useless-escape": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "warn",
    "import/no-unresolved": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": "off",
    "react/button-has-type": "off",
    "react/self-closing-comp": "off",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "no-debugger": "off",
    "jsx-a11y/label-has-associated-control": "warn"
  }
}